/* CSS reset on certain elements */
h2, h3, h5, img, a {
	margin: 0;
	padding: 0;
	border: 0;
}
ul,li { margin-bottom: 0;} 


/* My styling */
html {
	margin-top: 20px;
	margin-bottom: 30px;
}

#header {background: #CCCCCC}

h2 {padding-top: 10px;}

h3 {padding-bottom: 10px}

h5 {padding-top: 5px;}

tr {text-align: center;}

